# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
.venv/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Streamlit Cache
.streamlit/

# macOS
.DS_Store

# Windows
Thumbs.db

# Generated Reports
inspection_report.pdf

# Environment Variables
.env
.env.*

# Log Files
*.log